.App {
  text-align: center;
  background-color: #8ee1e7;

}
body{
  background-color: #8ee1e7;

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  background-color: #d64ec2;
height:90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
button {
  display: inline-block;
  background-color: #2d07da;
  border-radius: 6%;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 20px;
  width: 100px;
  height: 40px;
  
  cursor: pointer;
}
button:hover {
  background-color: red;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}